@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "Views/Shared/_Layout.cshtml";
}

@section PAGEHEADER{
    <div class="pageheader">
        <h2><i class="fa fa-globe"></i> Domains <span>Subtitle goes here...</span></h2>
        <div class="breadcrumb-wrapper">
            <span class="label">You are here:</span>
            <ol class="breadcrumb">
                <li><a href="index.html">Bracket</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </div>
    </div>
}

<div class="row">
    <a href="Domains/Add" class="btn btn-success pull-right">Add New Domain</a>
</div>

<div class="mb30"></div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover mb30 dataTable">
                    <thead>
                        <tr>
                            <th>Domain Name</th>
                            <th>Is Default</th>
                            <th>Type</th>
                            <th style="width: 10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                            {
                            foreach (var domain in Model)
                                {
                            <tr>
                                <td>@domain.DomainName</td>
                                <td>Model.IsDefault</td>
                                <td>Model.TypeOfDomain</td>
                                <td>
                                    <div class='btn-group pull-right'>
                                        <a href='Domains/@domain.ID/Edit' class='btn btn-xs btn-primary'>Modify</a>
                                        <button type='button' class='btn btn-xs btn-primary dropdown-toggle' data-toggle='dropdown'>
                                            <span class='caret'></span>
                                            <span class='sr-only'>Toggle Dropdown</span>
                                        </button>
                                        <ul class='dropdown-menu' role='menu'>
                                            <li>
                                                <a href="#" onclick="javascript: ShowDeleteModal('@domain.DomainName');">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                                }
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<form action="" method="post" name="deleteDomainForm">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Delete Domain</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete domain <label id="txtDeleteDomainName"></label>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input id="btnDeleteDomain" type="submit" class="btn btn-danger" value="Delete" />
                </div>
            </div>
        </div>
    </div>
</form>

    @section CUSTOMJAVASCRIPT{
        <script type="text/javascript">
            function ShowDeleteModal(domainName) {
                $(".modal-body #txtDeleteDomainName").text(domainName);

                document.deleteDomainForm.action = "Domains/" + domainName + "/Delete";

                $("#deleteModal").modal('show');
            }

            $(document).ready(function () {
                $(".dataTable").dataTable({
                    "bJQueryUI": false,
                    "bFilter": true,
                    "bLengthChange": false,
                    "aoColumns": [null, null, null, { "bSortable": false }]
                });

                $('div.dataTables_filter input').addClass('input-sm');
            });
        </script>
    }
