@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "Views/Shared/_Layout.cshtml";
}

@section PAGEHEADER{
    <div class="pageheader">
        <h2><i class="fa fa-building-o"></i> Users <span>Subtitle goes here...</span></h2>
        <div class="breadcrumb-wrapper">
            <span class="label">You are here:</span>
            <ol class="breadcrumb">
                <li><a href="index.html">Bracket</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </div>
    </div>
}

<div class="row">
    <a href="Users/Add" class="btn btn-success pull-right">Add New User</a>
</div>

<div class="mb30"></div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table id="usersDataTable" class="table table-hover mb30">
                    <thead>
                        <tr>
                            <th>Display Name</th>
                            <th>Login Name</th>
                            <th>Alternate Login Name</th>
                            <th>Department</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3" class="dataTables_empty">Loading users from server</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<form action="" method="post" name="deleteUserForm">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Delete User</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete user <label id="txtDeleteUPN"></label>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input id="btnDeleteUser" type="submit" class="btn btn-danger" value="Delete" />
                </div>
            </div>
        </div>
    </div>
</form>

<form action="" method="post" name="renameUserUPNForm">
    <div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Rename User Sign-in</h4>
                    <p><label id="txtRenameUPN"></label></p>
                </div>
                <div class="modal-body">
                    <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Login</label>
                            <input id="txtRenameLogin" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Domain</label>
                            <select id="selectDomains" class="form-control">
                                <option value="compsysar.com">compsysar.com</option>
                                <option value="compsyscloud.com">compsyscloud.com</option>
                            </select>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input id="btnRenameUser" type="submit" class="btn btn-success" value="Save" />
                </div>
            </div>
        </div>
    </div>
</form>

@section CUSTOMJAVASCRIPT{
    <script type="text/javascript">
        function ShowDeleteModal(userPrincipalName) {
            $("#deleteModal .modal-body #txtDeleteUPN").text(userPrincipalName);
            document.deleteUserForm.action = "Users/" + userPrincipalName + "/Delete";

            $("#deleteModal").modal('show');
        }

        function ShowRenameModal(userPrincipalName) {
            $("#renameModal .modal-header #txtRenameUPN").text(userPrincipalName);
            document.renameUserUPNForm.action = "Users/" + userPrincipalName + "/Rename";

            $("#renameModal").modal('show');
        }

        $(document).ready(function () {
            var table = $('#usersDataTable').dataTable({
                    "bProcessing": true,
                    "bStateSave": true,
                    "bServerSide": true,
                    "bJQueryUI": false,
                    "bFilter": true,
                    "bLengthChange": true,
                    "sPaginationType": "full_numbers",
                    "sAjaxSource": "../../AJAX/Company/KNO/Users/GetAll",
                    "aoColumns": [
                        { "mData": "displayName", "sTitle": "Display Name", "bSortable": true },
                        { "mData": "userPrincipalName", "sTitle": "Login Name", "bSortable": false },
                        { "mData": "sAMAccountName", "sTitle": "Alternate Login Name", "bSortable": false },
                        { "mData": "department", "sTitle": "Department", "bSortable": false },
                        {
                            "mData": "userPrincipalName",
                            "bSearchable": false,
                            "bSortable": false,
                            "sWidth": "100px",
                            "mRender": function (data, type, full) {

                                var isEnabled = full["isEnabled"] == false ?
                                                "<td style='visibility: hidden'><span class='fa fa-warning tooltips' data-placement='top' data-toggle='tooltip' title='User is Disabled'></span></td>" :
                                                "<td><span class='fa fa-warning tooltips' data-placement='top' data-toggle='tooltip' title='User is Disabled' ></span></td>";

                                var isLyncEnabled = full["isLyncEnabled"] == false ?
                                                "<td style='visibility: hidden'><span class='fa fa-comment-o tooltips' data-placement='top' data-toggle='tooltip' title='Lync Enabled' hidden=''></span></td>" :
                                                "<td><span class='fa fa-comment-o tooltips' data-placement='top' data-toggle='tooltip' title='Lync Enabled' hidden=''></span></td>";

                                var isEmailEnabled = full["mailboxPlan"] > 0 ?
                                                "<td style='visibility: hidden'><span class='fa fa-envelope-o tooltips' data-placement='top' data-toggle='tooltip' title='Email Enabled' hidden=''></span></td>" :
                                                "<td><span class='fa fa-envelope-o tooltips' data-placement='top' data-toggle='tooltip' title='Email Enabled' hidden=''></span></td>";

                                var isResellerAdmin = full["isResellerAdmin"] == false ?
                                                "<td style='visibility: hidden'><span class='fa fa-suitcase tooltips' data-placement='top' data-toggle='tooltip' title='Reseller Admin' hidden=''></span></td>" :
                                                "<td><span class='fa fa-suitcase tooltips' data-placement='top' data-toggle='tooltip' title='Reseller Admin' hidden=''></span></td>";

                                var isCompanyAdmin = full["isCompanyAdmin"] == false ?
                                                "<td style='visibility: hidden'><span class='fa fa-wrench tooltips' data-placement='top' data-toggle='tooltip' title='Company Admin' hidden=''></span></td>" :
                                                "<td><span class='fa fa-wrench tooltips' data-placement='top' data-toggle='tooltip' title='Company Admin' hidden=''></span></td>";

                                var table = "<table><tbody><tr class='featuresRows'>" +
                                            isEnabled +
                                            isLyncEnabled +
                                            isEmailEnabled +
                                            isResellerAdmin +
                                            isCompanyAdmin
                                            "</tr></tbody></table>"                            

                                return table;
                            },
                            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                $(".tooltips", nTd).tooltip();
                                $(nTd).css("")
                            }
                        },
                        {
                            "mData": "userPrincipalName",
                            "bSearchable": false,
                            "bSortable": false,
                            "sWidth": "125px",
                            "mRender": function (data, type, full) {
                                return "<div class='btn-group pull-right'>" +
                                        "<a href='Users/" + data + "/Edit' class='btn btn-xs btn-primary'>Modify</a>" +
                                        "<button type='button' class='btn btn-xs btn-primary dropdown-toggle' data-toggle='dropdown'>" +
                                            "<span class='caret'></span>" +
                                            "<span class='sr-only'>Toggle Dropdown</span>" +
                                        "</button>" +
                                        "<ul class='dropdown-menu' role='menu'>" +
                                        "<li>" +
                                            "<a href='#' onclick='javascript: ShowRenameModal(\"" + data + "\");'>Change Sign-in</a>" +
                                        "</li>" +
                                        "<li>" +
                                            "<a href='#' onclick='javascript: ShowDeleteModal(\"" + data + "\");'>Delete</a>"+
                                        "</li>" +
                                        "</ul>" +
                                        "</div>";
                            }
                        }
                    ],
                    "fnServerData": function (sSource, aoData, fnCallback) {
                        $.getJSON(sSource, aoData, function (jsondata) {
                            fnCallback(jsondata);
                        });
                    }
                });

        });


    </script>
}
