@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanelNancy

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bracket Responsive Bootstrap3 Admin</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/images/favicon.png" type="image/png">
    <link href="~/Content/css/style.default.css" rel="stylesheet">
    <link href="~/Content/css/jquery.datatables.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/Content/js/html5shiv.js"></script>
        <script src="~/Content/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <section>
        <div class="leftpanel">

            <div class="logopanel">
                <h1><span>[</span> bracket <span>]</span></h1>
            </div><!-- logopanel -->

            <div class="leftpanelinner">

                <!-- This is only visible to small devices -->
                <div class="visible-xs hidden-sm hidden-md hidden-lg">
                    <div class="media userlogged">
                        <div class="media-body">
                        </div>
                    </div>
                </div>

                <h5 class="sidebartitle">Navigation</h5>
                <ul class="nav nav-pills nav-stacked nav-bracket">
                    <li><a href="~/Dashboard"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
                    <li><a href="~/Resellers"><i class="fa fa-user"></i><span>Resellers</span></a></li>
                    @if (Html.RenderContext.Context.CurrentUser != null)
                    {
                        string resellerCode = ((AuthenticatedUser)Html.RenderContext.Context.CurrentUser).SelectedResellerCode;
                                
                        @if (!string.IsNullOrEmpty(((AuthenticatedUser)Html.RenderContext.Context.CurrentUser).SelectedResellerCode))
                        {
                            <li><a href="#"><i class="fa fa-building-o"></i><span>Companies</span></a></li>
                        }                        
                    }
                    <li class="nav-parent">
                        <a href="#"><i class="fa fa-edit"></i><span>Plans</span></a>
                        <ul class="children">
                            <li><a href="#"><i class="fa fa-caret-right"></i>Company Plans</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Mailbox Plans</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Activesync Plans</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Citrix Plans</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-file-o"></i><span>Reports</span></a></li>
                </ul>

                <hr />

                <h5 class="sidebartitle">COMPANY NAME</h5>
                <ul class="nav nav-pills nav-stacked nav-bracket">
                    <li><a href="#"><i class="fa fa-info"></i><span>Overview</span></a></li>
                    <li><a href="#"><i class="fa fa-globe"></i><span>Domains</span></a></li>
                    <li><a href="#"><i class="fa fa-users"></i><span>Users</span></a></li>
                    <li class="nav-parent">
                        <a href="#"><i class="fa fa-envelope-o"></i><span>Email</span></a>
                        <ul class="children">
                            <li><a href="#"><i class="fa fa-caret-right"></i>Enable Email</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Disable Email</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Contacts</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Groups</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Resource Mailboxes</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Public Folders</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-cloud"></i><span>Citrix</span></a></li>
                    <li><a href="#"><i class="fa fa-money"></i><span>Billing</span></a></li>
                </ul>
            </div>
            <!-- leftpanelinner -->

        </div><!-- leftpanel -->

        <div class="mainpanel">

            <div class="headerbar">

                <a class="menutoggle"><i class="fa fa-bars"></i></a>

                <form class="searchform" action="index.html" method="post">
                    <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
                </form>

                <div class="header-right">
                    <ul class="headermenu">
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <img src="~/Content/images/photos/loggeduser.png" alt="" />
                                    @if (Html.RenderContext.Context.CurrentUser != null) { @(((AuthenticatedUser)Html.RenderContext.Context.CurrentUser).UserName) }
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                    <li><a href="profile.html"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                                    <li><a href="signin.html"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button id="chatview" class="btn btn-default tp-icon chat-icon">
                                <i class="glyphicon glyphicon-comment"></i>
                            </button>
                        </li>
                    </ul>
                </div><!-- header-right -->

            </div><!-- headerbar -->

            @RenderSection("PAGEHEADER", required: false)

            <div class="contentpanel">
                @RenderBody()
            </div><!-- contentpanel -->

        </div><!-- mainpanel -->
    </section>

    <script src="~/Content/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.10.3.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/modernizr.min.js"></script>
    <script src="~/Content/js/retina.min.js"></script>
    <script src="~/Content/js/jquery.datatables.min.js"></script>
    <script src="~/Content/js/chosen.jquery.min.js"></script>
    <script src="~/Content/js/custom.js"></script>

    @RenderSection("CUSTOMJAVASCRIPT", required: false)
</body>
</html>
